@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/* Title */
.title {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 700;
  color: #212529;
}

.title_white {
  color: #fff;
}

.title_medium {
  font-weight: 500;
}

/* ------------------- */
.text {
  line-height: 1.66;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Light.woff2") format("woff2"), url("../fonts/Causten/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC/CoreSansC-Medium.woff2") format("woff2"), url("../fonts/CoreSansC/CoreSansC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC/CoreSansC-Bold.woff2") format("woff2"), url("../fonts/CoreSansC/CoreSansC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC/CoreSansC-ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC/CoreSansC-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #807d7e;
  background-color: #333;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  padding-top: 31px;
  padding-bottom: 31px;
  min-height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 76px;
     -moz-column-gap: 76px;
          column-gap: 76px;
  -webkit-transition: -webkit-column-gap 0.3s;
  transition: -webkit-column-gap 0.3s;
  transition: column-gap 0.3s;
  transition: column-gap 0.3s, -webkit-column-gap 0.3s, -moz-column-gap 0.3s;
}
@media (max-width: 1270px) {
  .header__body {
    -webkit-column-gap: calc(20px + 256 * (100vw - 991px) / 1270);
       -moz-column-gap: calc(20px + 256 * (100vw - 991px) / 1270);
            column-gap: calc(20px + 256 * (100vw - 991px) / 1270);
  }
}
@media (max-width: 992px) {
  .header__body {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 804px) {
  .header__body {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}
.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40.46px;
     -moz-column-gap: 40.46px;
          column-gap: 40.46px;
  -webkit-transition: -webkit-column-gap 0.3s;
  transition: -webkit-column-gap 0.3s;
  transition: column-gap 0.3s;
  transition: column-gap 0.3s, -webkit-column-gap 0.3s, -moz-column-gap 0.3s;
}
@media (max-width: 1270px) {
  .menu_list {
    -webkit-column-gap: calc(20.47px + 91 * (100vw - 991px) / 1270);
       -moz-column-gap: calc(20.47px + 91 * (100vw - 991px) / 1270);
            column-gap: calc(20.47px + 91 * (100vw - 991px) / 1270);
  }
}
@media (max-width: 991.98px) {
  .menu_list {
    -webkit-column-gap: 20.46px;
       -moz-column-gap: 20.46px;
            column-gap: 20.46px;
  }
}
@media (max-width: 804px) {
  .menu_list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.menu__link {
  color: #807d7e;
  font-family: "Causten";
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #3c4242;
}

.action {
  color: #3c4242;
  font-weight: 700;
}

.form:hover * {
  outline-color: #807d7e;
  background-color: #ececec;
  color: #3c4242;
}
.form__item {
  position: relative;
  height: 42px;
  border-radius: 8px;
  outline: 1px solid #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: outline-color 0.3s ease-in-out, outline 1s;
  transition: outline-color 0.3s ease-in-out, outline 1s;
}
.form__item:focus-within {
  outline-color: #807d7e;
}
@media (max-width: 890px) {
  .form__item {
    outline: none;
  }
}
.form__button {
  height: 44px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px 0 0 8px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.form__button img {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 890px) {
  .form__button {
    border-radius: 8px;
  }
}
.form__input {
  height: 44px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 0 8px 8px 0;
  -webkit-transition: background-color 0.3s ease-in-out, width 1s;
  transition: background-color 0.3s ease-in-out, width 1s;
}
.form__input:focus-visible {
  outline: none;
}
@media (max-width: 890px) {
  .form__input {
    width: 0%;
    position: absolute;
    right: 0;
  }
}
.form__input::-webkit-input-placeholder {
  color: #807d7e;
}
.form__input::-moz-placeholder {
  color: #807d7e;
}
.form__input:-ms-input-placeholder {
  color: #807d7e;
}
.form__input::-ms-input-placeholder {
  color: #807d7e;
}
.form__input::placeholder {
  color: #807d7e;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.action__img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.action__img-link:hover {
  background-color: #ececec;
  border-color: #807d7e;
}
.hero {
  position: relative;
  min-height: calc(100vh - 108px);
  background-color: #01b5da;
  font-family: "Core Sans C", sans-serif;
  color: white;
}
.hero__image::after {
  -webkit-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
}
@media (max-width: 875px) {
  .hero__image::after {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: 1;
}
.hero__container {
  z-index: 1;
  position: relative;
  padding-top: 70px;
  padding-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 89vh;
}
.hero__arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
}
.hero__arrow--left {
  left: -70px;
  max-width: 100%;
  -webkit-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}
.hero__arrow--left img {
  -webkit-animation: arrow 0.65s ease-in-out infinite alternate;
          animation: arrow 0.65s ease-in-out infinite alternate;
}
@media (max-width: 1462px) {
  .hero__arrow--left {
    left: 0;
  }
}
@media (max-width: 1270px) {
  .hero__arrow--left {
    left: 20px;
  }
}
.hero__arrow--right {
  right: -70px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  max-width: 100%;
  -webkit-transition: right 1s ease-in-out;
  transition: right 1s ease-in-out;
}
.hero__arrow--right img {
  -webkit-animation: arrow 0.65s ease-in-out infinite alternate;
          animation: arrow 0.65s ease-in-out infinite alternate;
}
@media (max-width: 1462px) {
  .hero__arrow--right {
    right: 0;
  }
}
@media (max-width: 1270px) {
  .hero__arrow--right {
    right: 20px;
  }
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}
.hero__body {
  padding-left: 73px;
  padding-right: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.hero__body:not(:last-child) {
  padding-bottom: 73px;
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: auto 0;
}
.hero__content > *:not(:last-child) {
  margin-bottom: 40px;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.hero__item {
  position: relative;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.771px; /* 118.035% */
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.hero__item:not(:last-child)::after {
  content: "/";
  font-size: 32px;
  padding-left: 15px;
}
.hero__title {
  color: #fff;
  font-size: 78px;
  font-weight: 800;
  line-height: 93.622px; /* 120.028% */
  letter-spacing: 0.315px;
}
.hero__link {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 72px;
  height: 61px;
  width: 250px;
  border-radius: 8px;
  background: #fff;
  color: #3c4242;
  text-align: center;
  font-family: "Causten";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  -webkit-animation: glowing 1300ms infinite;
          animation: glowing 1300ms infinite;
  -webkit-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(48.9%, #eeeeee), color-stop(49%, #ffffff));
  background: linear-gradient(90deg, #eeeeee 48.9%, #ffffff 49%);
  -webkit-animation: borderGradient 8s linear both infinite;
          animation: borderGradient 8s linear both infinite;
  background-size: 300%;
}
@-webkit-keyframes borderGradient {
  0%, 100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes borderGradient {
  0%, 100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
.hero__link:hover {
  background-color: #3c4242;
  color: #fff;
}
.hero__link::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  content: "Shop Now";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: #3c4242;
  z-index: 1;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.hero__link:hover::before {
  color: #fff;
}
.hero__link::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: rgba(37, 37, 37, 0.212);
  -webkit-transition: width 0.3s, left 0.3s;
  transition: width 0.3s, left 0.3s;
}
.hero__link:hover::after {
  width: 100%;
  left: 0%;
}
.hero__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1px;
     -moz-column-gap: 1px;
          column-gap: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.hero__indicator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  width: 62px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero__indicator:last-child {
  border-radius: 0 12px 12px 0;
}
.hero__indicator:first-child {
  border-radius: 12px 0 0 12px;
}
.hero__indicator:hover {
  background-color: #fff;
}
.hero__indicator--active {
  background-color: #fff;
}