@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,regular,700,700italic&display=swap");
$widthPc: 1199.98px;
$widthTablet: 991.98px;
$widthMobile: 767.98px;
$widthMobileSmoll: 479.98px;
$widthSmoll: 374.98px;

body {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    background-color: #333;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1203px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: #fefbf7;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        transition: min-height 0.3s;

        @media (max-width: 991.97px) {
            min-height: 50px;
            column-gap: 30px;
        }
        @media (max-width: 362px) {
            column-gap: 10px;
        }
    }

    &__logo {
        z-index: 2;
        position: relative;
    }
    &__div {
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        flex-shrink: 0;
        @media (max-width: 362px) {
            font-size: 20px;
        }
    }
}

.menu {
    @media (max-width: 991.97px) {
        flex: 1 0 auto;
    }

    &__list {
        display: flex;
        column-gap: 36px;
        padding-top: 5px;
    }

    &__item {
        position: relative;

        @media (min-width: 991.97px) {
            &--parents {
                position: relative;
                padding-right: 18px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 0;
                    background: url("../img/arrow.png") 0 0 / 100% no-repeat;
                    width: 16px;
                    height: 8px;
                    transition: transform 0.3s;
                }
            }
        }
        &:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            top: 100%;
            pointer-events: auto;
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        padding-bottom: 5px;
        transition: color 0.3s;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            left: 50%;
            bottom: 0;
            background-color: #d58417;
            transition:
                width 0.3s,
                left 0.3s;
        }
    }
}

.action {
    display: flex;
    gap: 20px;
    align-items: center;

    &__item {
        position: relative;
        transition: transform 0.3s;
    }

    &__img {
        max-width: 100%;
    }

    span {
        position: absolute;
        background-color: #ff3333;
        border-radius: 50%;
        font-size: 9px;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        text-align: center;
        color: #fff;
    }
}

.sub-menu {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    padding-top: 5px;
    pointer-events: none;

    &__list {
        @media (min-width: 991.97px) {
            background-color: rgb(255, 146, 74);
            padding: 15px;
            width: 200px;
            border-radius: 10%;
            box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
        }
    }

    &__item {
        &:not(:last-child) {
            padding-bottom: 5px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            left: 50%;
            bottom: 0;
            background-color: #000;
            transition:
                width 0.3s,
                left 0.3s;
        }
    }
}

.menu-icon {
    display: none;
}

.menu__item:hover .menu__link {
    color: #d58417;
}

.menu__item:hover .menu__link::after {
    width: 100%;
    left: 0;
}

.sub-menu__item .sub-menu__link:hover::after {
    width: 100%;
    left: 0;
}

@media (any-hover: hover) {
    .menu__item--parents:hover::after {
        transform: rotate(-180deg);
    }

    .action__item:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

@media (max-width: 991.97px) {
    .menu-icon {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;

        &::before,
        &::after,
        & span {
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: #000000;
            transition: all 0.3s ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span {
            top: 50%;
            margin-top: -1px;
        }
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        overflow: auto;
        background-color: #ffffff;
        padding: 70px 15px 20px 15px;
        transition: left 0.3s;

        &::before {
            content: "";
            height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            left: -100%;
            background-color: rgb(245, 152, 91);
            transition: left 0.3s;
            z-index: 1;
        }
    }

    .menu-open .menu-icon::before {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .menu-open .menu-icon::after {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
    }

    .menu-open .menu-icon span {
        width: 0;
        left: 50%;
    }

    .menu-open .menu__body,
    .menu-open .menu__body::before {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu__item {
        padding-bottom: 20px;
    }

    .sub-menu {
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        text-align: end;
    }

    .sub-menu__link {
        font-size: 16px;
        color: #666;
    }
}

@media (max-width: 451px) {
    .header__logo {
        font-size: 22px;
    }

    .header__container {
        column-gap: 10px;
    }

    .action {
        gap: 10px;
    }
}

// -----------Page----------- //

.page {
    position: relative;
    &__main {
        background-color: #502203;
        padding: 200px 0px 86px 0px;
        @media (max-width: $widthTablet) {
            padding: 90px 0px 56px 0px;
        }
    }
}
.main {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 20px;
        left: 0;
        background: url("../img/decor.svg") left top no-repeat;
        width: 100%;
        height: 100%;
        transition:
            left 0.3s,
            top 0.3s;
        @media (max-width: 768.98px) {
            left: -80px;
            top: -100px;
        }
    }
    &::after {
        position: absolute;
        content: "";
        top: 30px;
        right: 0;
        background: url("../img/decor1.svg") right no-repeat;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition:
            right 0.3s,
            top 0.3s;
        @media (max-width: 768.98px) {
            right: -80px;
            top: 0;
        }
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 23px;
        z-index: 1;
        @media (max-width: $widthTablet) {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }
    }
    &__body {
        flex: 0 0 31.67%;
        padding-left: 22px;
        padding-top: 57px;
        padding-bottom: 9px;
        @media (max-width: $widthTablet) {
            padding-top: 5px;
            padding-left: unset;
            text-align: center;
        }
    }
    &__title {
        color: #fff;
        font-family: Cormorant Infant;
        font-size: 78px;
        font-weight: 700;
        line-height: 129%;
        @media (max-width: $widthTablet) {
            padding-bottom: 20px;
            font-size: 65px;
        }
        @media (max-width: 564px) {
            font-size: 56px;
        }
        @media (max-width: 484px) {
            font-size: 40px;
        }
        @media (max-width: 375px) {
            font-size: 32px;
        }
    }
    &__button {
        position: relative;
        display: inline;
        border-radius: 4px;
        border: 1px solid #fff;
        padding: 15px 25px;
        color: #fff;
        font-family: Cormorant Infant;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;

        &::after {
            position: absolute;
            content: "";
            left: -8px;
            top: 12px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.06);
            pointer-events: none;
            transition:
                left 0.3s,
                top 0.3s;
        }
        &:hover::after {
            left: 0;
            top: 0;
        }
    }

    &__hero {
        flex: 0 0 36.66%;
        padding: 20px 28px;
        border: 1px solid #fff;
        border-radius: 215px;
        z-index: 2;
        @media (max-width: $widthTablet) {
            max-width: 448px;
        }
    }

    &__img {
        border-radius: 195px;
        aspect-ratio: 390 / 554;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        row-gap: 15px;
        flex: 1 1 31.67%;
        padding-top: 76px;
        @media (max-width: $widthTablet) {
            padding-top: 0;
            flex-direction: row;
            justify-content: center;
            column-gap: 30px;
        }
        @media (max-width: 629px) {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }

    &__text {
        max-width: 312px;
        color: #fff;
        font-family: Cormorant Infant;
        font-size: 22px;
        font-weight: 700;
        line-height: 148%;
        @media (max-width: $widthTablet) {
        }
        @media (max-width: 629px) {
            max-width: 400px;
        }
    }

    &__item {
        position: relative;
        margin: auto 0;
        display: flex;
        align-self: flex-end;

        &::after {
            content: "";
            position: absolute;
            background: #fff;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
        }
        padding-left: 10px;
        color: #fff;
        font-family: Cormorant Infant;
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
        @media (max-width: 629px) {
            align-self: center;
            font-size: 22px;
        }
    }
    &__left-image {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: 239px;
        max-height: 215px;
        border-radius: 195px 195px 0 0;
        border: 1px solid #fff;
        transform: translate(-736px, -4px);
        z-index: 0;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 239 / 215;
            object-fit: cover;
            border-radius: 195px 195px 0 0;
            transform: translate(6px, 4px);
        }
    }
    &__right-image {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        max-width: 237px;
        max-height: 336px;
        border: 1px solid #fff;
        border-radius: 215px;
        padding: 17px 12px;
        transform: translate(610px, 450px);
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 237 / 337;
            object-fit: cover;
            border-radius: 215px;
        }
    }
}

// -----------Article-------------------- //

.page {
    background-color: #fff;
    &__articles {
        padding-top: 160px;
        padding-bottom: 160px;
        @media (max-width: $widthTablet) {
            padding-bottom: 50px;
            padding-top: 50px;
        }
    }
}
.articles {
    &__container {
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        flex-wrap: wrap;
        @media (max-width: 964px) {
            justify-content: center;
            row-gap: 20px;
        }
        @media (max-width: 646px) {
            row-gap: 50px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 964px) {
            flex: 1 1 auto;
            text-align: center;
        }
    }

    &__link {
        display: inline-flex;
        width: 70px;
        justify-content: center;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-color: #ff934a47;
            top: 15px;
            left: -5px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition:
                left 0.3s,
                top 0.3s;
            pointer-events: hidden;
        }
        &:hover {
            &::after {
                left: 5px;
                top: 10px;
                pointer-events: auto;
            }
        }
    }

    &__img {
        max-width: 74px;
        max-height: 74px;
        aspect-ratio: 1/1;
    }

    &__title {
        padding-top: 28px;
        padding-bottom: 20px;
    }

    &__link-title {
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 28px;
        font-weight: 700;
        line-height: 100%; /* 28px */
        transition: color 0.3s;
        &:hover {
            color: #b99e06;
        }
    }

    &__text {
    }

    &__text-link {
        color: #6d6d6d;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 100%; /* 16px */
        transition: color 0.3s;
        &:hover {
            color: #b99e06;
        }
    }
}

// -----------product------------//

.page {
    &__products {
        background-color: #fefbf7;
        padding-top: 120px;
        padding-bottom: 120px;
        @media (max-width: 992.98px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
.products {
    &__container {
    }

    &__title {
        padding-bottom: 21px;
        text-align: center;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 64px;
        font-weight: 700;
        line-height: 100%; /* 64px */
        @media (max-width: 585px) {
            font-size: 54px;
        }
        @media (max-width: 425px) {
            font-size: 40px;
        }
        @media (max-width: 375px) {
            font-size: 32px;
        }
        @media (max-width: 320px) {
            font-size: 28px;
        }
    }

    &__text {
        padding-bottom: 84px;
        color: #606060;
        text-align: center;
        font-family: "Cormorant Infant";
        font-size: 30px;
        font-weight: 700;
        line-height: 140%; /* 42px */
        @media (max-width: 992.98px) {
            padding-bottom: 40px;
        }
        @media (max-width: 425px) {
            font-size: 24px;
        }
        @media (max-width: 375px) {
            font-size: 18px;
        }
        @media (max-width: 320px) {
            font-size: 18px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 20px;
        flex-wrap: wrap;
        // @media (max-width: 1070px) {
        //     justify-content: center;
        // }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 24%;
        // flex-wrap: wrap;
        // text-align: center;
        @media (max-width: 1070px) {
            flex: 0 0 32%;
        }
        @media (max-width: 962px) {
            flex: 0 0 49%;
        }
        @media (max-width: 585px) {
            flex: 0 0 100%;
        }
    }

    &__link-img {
        display: inline-flex;
        margin-bottom: 17px;
        overflow: hidden;
        // max-width: 270px;
        // max-height: 270px;
        & img {
            object-fit: cover;
            aspect-ratio: 1 / 1.1;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }
        &:hover img {
            transform: scale(1.05);
        }
    }

    &__link-title {
        margin-bottom: 4px;
        display: inline-block;
        text-align: center;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 24px;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        transition: color 0.3s;
        &:hover {
            color: #b99e06;
        }
        @media (max-width: 375px) {
            font-size: 20px;
        }
    }

    &__price {
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 24px;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        @media (max-width: 375px) {
            font-size: 20px;
        }
    }
}

// -----------jewels-----------//

.page {
    &__jewels {
        padding-top: 160px;
        padding-bottom: 70px;
        @media (max-width: 992.98px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
.jewels {
    &__container {
    }

    &__content {
        display: flex;
        column-gap: 10px;
        @media (max-width: 962px) {
            flex-direction: column;
            text-align: center;
            row-gap: 30px;
        }
    }

    &__title {
        flex: 0 0 42%;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 60px;
        font-weight: 700;
        line-height: 115%; /* 69px */
        @media (max-width: 1140px) {
            font-size: 56px;
        }
        @media (max-width: 1066px) {
            font-size: 50px;
        }
        @media (min-width: 963px) {
            padding-top: 150px;
        }
        @media (max-width: 962px) {
            font-size: 50px;
        }
        @media (max-width: 425px) {
            font-size: 32px;
        }
        @media (max-width: 320px) {
            font-size: 28px;
        }
    }

    &__item {
        display: flex;
        column-gap: 20px;
        @media (max-width: 962px) {
            column-gap: 50px;
        }
        @media (max-width: 767.98px) {
            column-gap: 25px;
        }
        @media (max-width: 585px) {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__column {
        &--padding {
            @media (min-width: 586px) {
                padding-top: 41px;
            }
        }
    }

    &__link-img {
        position: relative;
        margin-bottom: 25px;
        display: inline-flex;
        flex: 1 1 334px;
        // max-height: 381px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1.17;
            transition: transform 0.3s ease-in-out;
        }

        &:hover img {
            transform: scale(1.05);
        }
        @media (min-width: 586px) {
            &::before {
                pointer-events: none;
                z-index: 0;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                border: 1px solid #000;
                width: 100%;
                height: 100%;
                transform: translate(-10px, -10px);
            }
        }
        @media (max-width: 585px) {
            margin-bottom: 17px;
        }
    }

    &__obg {
        z-index: 2;
        overflow: hidden;
    }

    &__link {
        margin-bottom: 4px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 24px;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        transition: color 0.3s;
        &:hover {
            color: #b99e06;
        }
        @media (max-width: 375px) {
            font-size: 20px;
        }
    }

    &__price {
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 24px;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        @media (max-width: 375px) {
            font-size: 20px;
        }
    }

    &__block-new {
        margin-bottom: 40px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 46px;
        font-weight: 700;
        line-height: 113%; /* 51.98px */
        @media (max-width: 962px) {
            text-align: left;
            font-size: 40px;
        }
        @media (max-width: 767.98px) {
            font-size: 30px;
        }
        @media (max-width: 585px) {
            margin-bottom: 20px;
        }
    }
}

// -----------earring-----------//

.page {
    &__hoop {
        padding-top: 70px;
        padding-bottom: 137px;
        @media (max-width: 991.98px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
.hoop {
    &__container {
    }

    &__content {
        display: flex;
        column-gap: 15px;
        justify-content: center;
        margin: 0 -100px;
        @media (max-width: 1390px) {
            margin: 0 0;
        }
        @media (max-width: 991.98px) {
            flex-wrap: wrap;
            row-gap: 50px;
        }
    }

    &__pictures {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 0 0 33%;

        @media (max-width: 991.98px) {
            flex: 0 0 47%;
        }
        @media (max-width: 768.98px) {
            flex: 0 0 75%;
        }
        @media (max-width: 528.98px) {
            flex: 0 0 80%;
        }
        @media (max-width: 425.98px) {
            flex: 0 0 90%;
        }
        @media (max-width: 375.98px) {
            flex: 0 0 100%;
        }
        @media (min-width: 376px) {
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                transform: translate(-24px, -17px);
                width: 100%;
                height: 100%;
                border-radius: 500px;
                border: 1px solid #502203;
            }
        }
    }

    &__cart {
    }
}
.pictures {
    &__title {
        z-index: 2;
        position: absolute;
        top: 480px;
        text-align: center;
        color: #fff;
        font-family: "Cormorant Infant";
        font-size: 36px;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
        @media (max-width: 425.98px) {
            top: 380px;
        }
        @media (max-width: 425.98px) {
            font-size: 28px;
        }
    }
    &__price {
        z-index: 2;
        position: absolute;
        top: 535px;
        text-align: center;
        color: #fff;
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 700;
        line-height: 140%; /* 56px */
        @media (max-width: 425.98px) {
            top: 435px;
        }
        @media (max-width: 425.98px) {
            font-size: 28px;
        }
    }

    &__link {
        // display: inline-flex;
        position: relative;
        width: 100%;
        // width: 435px;
        // height: 673px;
        flex: 1 0 435px;
        border-radius: 500px;
        overflow: hidden;

        @media (max-width: 768.98px) {
            flex: 0 0 700px;
            height: 100%;
        }
        @media (max-width: 425.98px) {
            flex: 0 0 550px;
        }
        &:hover img {
            transform: scale(1.03);
        }

        &::before {
            z-index: 1;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 500px;
            background: linear-gradient(0deg, rgba(33, 14, 1, 0.95) 2.4%, rgba(255, 255, 255, 0) 101.13%);
        }
    }
    &__image {
        pointer-events: none;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 500px;
        transition: transform 0.3s;
    }
}

.cart {
    flex: 0 0 33%;
    @media (max-width: 991.98px) {
        flex: 0 0 48%;
    }
    @media (max-width: 425.98px) {
        flex: 0 0 100%;
    }
    &__column {
        display: flex;
        flex-direction: column;
        object-fit: cover;
        align-items: center;
    }

    &__link {
        overflow: hidden;
        &:hover img {
            transform: scale(1.03);
        }
    }
    &__dava {
        object-fit: cover;
        flex: 0 0 434px;
        // max-height: 512px;
        @media (max-width: 767.98px) {
            flex: unset;
        }
    }
    &__img {
        aspect-ratio: 434/512;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
        @media (max-width: 425.98px) {
            aspect-ratio: 434/412;
        }
    }

    &__title {
        margin-top: 39px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 36px;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
        transition: color 0.3s;
        &:hover {
            color: #b99e06;
        }
        @media (max-width: 1086px) {
            font-size: 30px;
        }

        @media (max-width: 637.98px) {
            font-size: 26px;
        }
        @media (max-width: 425.98px) {
            margin-top: 20px;
            font-size: 24px;
        }
    }

    &__price {
        margin-top: 14px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 700;
        line-height: 140%; /* 56px */
        @media (max-width: 1086px) {
            font-size: 32px;
        }
        @media (max-width: 637.98px) {
            font-size: 26px;
        }
        @media (max-width: 425.98px) {
            margin-top: 5px;
            font-size: 24px;
        }
    }
}

// ---------------------------TEST BASELINE--------------------------------- //

.page {
    &__baseline {
        border-top: 1px solid #3d1901;
        padding-top: 137px;
        padding-bottom: 137px;
        @media (max-width: 992.98px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
.baseline {
    &__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -100px;
        transition:
            margin 0.3s,
            justify-content 0.3s;
        row-gap: 15px;
        @media (max-width: 1373px) {
            margin: 0 0;
        }
        @media (max-width: 992.98px) {
            justify-content: center;
        }
        @media (max-width: 425.98px) {
            row-gap: 50px;
        }
    }

    &__column {
        flex: 0 0 33.33%;
        padding: 17px 15px 0;
        transition: flex 0.3s;
        @media (max-width: 992.98px) {
            flex: 0 0 50%;
        }
        @media (max-width: 763.98px) {
            &:first-child {
                flex: 0 0 70%;
            }
        }
        @media (max-width: 579.98px) {
            &:first-child {
                flex: 0 0 90%;
            }
        }
        @media (max-width: 425.98px) {
            &:first-child {
                flex: 0 0 100%;
            }
            flex: 0 0 100%;
            padding: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

.item-baseline {
    // overflow: auto;
    // overflow: hidden;
    &--brdr {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: -17px;
            left: -24px;
            width: 100%;
            height: 100%;
            max-height: 673px;
            border-radius: 500px;
            border: 1px solid #502203;
            @media (max-width: 425.98px) {
                display: none;
            }
        }
    }
    &__block {
        border-radius: 500px;
        position: relative;
        flex: 0 0 673px;
        display: flex;
        flex-direction: column;
        padding-top: 500px;
        transition: transform 0.3s;
        &:hover .item-baseline__image img {
            transform: scale(1.05);
        }
    }

    &__image {
        // flex: 0 0 434px;
        position: relative;
        flex: 1 1 512px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.05);
        }
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }
    &__image--abs {
        border-radius: 500px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: transform 0.3s;
        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 500px;
            background: linear-gradient(0deg, rgba(33, 14, 1, 0.95) 2.4%, rgba(255, 255, 255, 0) 101.13%);
        }
        & img {
            border-radius: 500px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    &__title {
        margin-top: 39px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 36px;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
        transition:
            color 0.3s,
            font-size 0.3s;
        &:hover {
            color: #b99e06;
        }
        @media (max-width: 1373px) {
            font-size: 30px;
        }
        @media (max-width: 992px) {
            font-size: 36px;
        }
        @media (max-width: 793px) {
            margin-top: 15px;
            font-size: 30px;
        }
        @media (max-width: 677px) {
            font-size: 24px;
        }
        @media (max-width: 435px) {
            text-align: center;
            font-size: 30px;
        }
        @media (max-width: 320px) {
            text-align: center;
            font-size: 24px;
        }
    }
    &__title--white {
        color: #fff;
        text-align: center;
        margin-top: 0;
    }
    &__price {
        margin-top: 16px;
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 700;
        line-height: 140%; /* 56px */
        transition: font-size 0.3s;
        @media (max-width: 1373px) {
            font-size: 34px;
        }
        @media (max-width: 992px) {
            font-size: 40px;
        }
        @media (max-width: 793px) {
            margin-top: 5px;
            font-size: 34px;
        }
        @media (max-width: 677px) {
            font-size: 28px;
        }
        @media (max-width: 435px) {
            text-align: center;
            font-size: 34px;
        }
        @media (max-width: 320px) {
            text-align: center;
            font-size: 24px;
        }
    }
    &__price--white {
        color: #fff;
        text-align: center;
    }
}

// ------------Footer---------------//

.footer {
    position: relative;
    background-color: #3d1901;
    padding-top: 91px;
    padding-bottom: 20px;
    ::after {
        position: absolute;
        content: "";
        bottom: 70px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(249, 249, 249, 0.22);
        @media (max-width: 661.98px) {
            bottom: 100px;
        }
    }
    @media (max-width: 661.98px) {
        padding-top: 50px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        text-align: center;
    }

    &__other {
    }
}
.content {
    margin-bottom: 59px;
    &__phone {
        margin-bottom: 7px;
        color: #fff;
        font-family: "Cormorant Infant";
        font-size: 30px;
        font-weight: 500;
        line-height: 140%; /* 42px */
    }

    &__email {
        margin-bottom: 17px;
        color: #fff;
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-weight: 700;
        line-height: 140%; /* 56px */
    }

    &__adress {
        margin-bottom: 21px;
        color: #fff;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }

    &__social {
        margin-bottom: 53px;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        @media (max-width: 375px) {
            column-gap: 30px;
        }
    }
}
.social {
    &__face {
    }
}
.navigation {
    &__link {
        color: #fff;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        text-decoration-line: underline;
    }
}
.other {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 661.98px) {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    &__copyright {
        color: #fff;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        @media (max-width: 375px) {
            text-align: center;
        }
    }

    &__cart {
    }
}
.carts {
    &__img {
    }
}
