@import "_reset.scss";
@import "_common.scss";
@import "_fonts.scss";

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #807d7e;
    background-color: #333;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    & > main {
        flex-grow: 1;
    }
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 31px;
    padding-bottom: 31px;
}

// .header {
//     &__container {
//         min-height: 108px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         background-color: #fff;
//     }

//     &__logo {
//         flex: 0 1 91px;
//         & img {
//         }
//     }

//     &__body {
//         flex: 0 1 1086px;
//         justify-content: space-between;
//         display: flex;
//         // column-gap: calc(20px + 10%);
//         // column-gap: 2%;
//         align-items: center;
//     }

//     &__menu {
//         flex: 0 1 483px;
//     }

//     &__form {
//         flex: 0 1 295px;
//         // flex: 0 0 76px;
//     }

//     &__action {
//     }
// }
// .menu {
//     &_list {
//         display: flex;
//         justify-content: space-between;
//         // column-gap: 40px;
//         align-items: center;
//     }

//     &__item {
//     }

//     &__link {
//         color: #807d7e;
//         font-family: "Causten";
//         font-size: 22px;
//         font-weight: 500;
//         line-height: normal;
//         transition: color 0.3s;
//         &:hover {
//             color: #3c4242;
//         }
//     }
// }

// .form {
//     &:hover * {
//         outline-color: #807d7e;
//         background-color: #ececec;
//         color: #3c4242;
//     }

//     &__item {
//         height: 42px;
//         border-radius: 8px;
//         outline: 1px solid #f6f6f6;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         transition: outline-color 0.3s ease-in-out;
//         &:focus-within {
//             outline-color: #807d7e;
//         }
//     }

//     &__button {
//         height: 44px;
//         padding: 0 15px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 8px 0 0 8px;
//         background-color: #f6f6f6;
//         transition: background-color 0.3s ease-in-out;
//         & img {
//             transition: background-color 0.3s ease-in-out;
//         }
//     }
//     &__input {
//         // display: none;
//         height: 44px;
//         width: 100%;
//         background-color: #f6f6f6;
//         border-radius: 0 8px 8px 0;
//         transition: background-color 0.3s ease-in-out;
//         &:focus-visible {
//             outline: none;
//         }
//     }
//     &__input::placeholder {
//         color: #807d7e;
//     }
// }

// .action {
//     display: flex;
//     column-gap: 12px;
//     &__img-link {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 44px;
//         height: 44px;
//         border: 1px solid #f6f6f6;
//         background-color: #f6f6f6;
//         border-radius: 8px;
//         transition:
//             background-color 0.3s ease-in-out,
//             border-color 0.3s ease-in-out;
//         &:hover {
//             background-color: #ececec;
//             // border: 1px solid #cccbcb;
//             border-color: #807d7e;
//         }
//     }

//     &__img {
//         // padding: 11px;
//     }
// }

// ----------------------------------------------

.header {
    &__container {
        min-height: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        column-gap: 30px;
    }

    &__logo {
        // flex: 0 1 91px;
        & img {
        }
    }

    &__body {
        // flex: 0 1 1086px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        column-gap: 76px;
        @media (max-width: 1270px) {
            column-gap: calc(20px + (56 + 200) * (100vw - 991px) / 1270);
        }
        @media (max-width: 992px) {
            column-gap: 20px;
        }
    }

    &__menu {
        // flex: 0 1 483px;
    }

    &__form {
        // flex: 0 1 295px;
    }

    &__action {
    }
}
.menu {
    &_list {
        display: flex;
        justify-content: space-between;
        // column-gap: calc(20px + 20 * (100vw - 991px) / 249);
        // column-gap: calc(20px + 20 * (1270px - 991px) / 1270);

        // column-gap: 40px;
        align-items: center;
        column-gap: 40.46px;
        @media (max-width: 1270px) {
            column-gap: calc(20.47px + (20 + 71) * (100vw - 991px) / 1270);
        }
        @media (max-width: 991.98px) {
            column-gap: 20.46px;
        }
    }

    &__item {
    }

    &__link {
        color: #807d7e;
        font-family: "Causten";
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
        transition: color 0.3s;
        &:hover {
            color: #3c4242;
        }
    }
}

.action {
    color: #3c4242;
    font-weight: 700;
}

.form {
    &:hover * {
        outline-color: #807d7e;
        background-color: #ececec;
        color: #3c4242;
    }

    &__item {
        position: relative;
        height: 42px;
        border-radius: 8px;
        outline: 1px solid #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            outline-color 0.3s ease-in-out,
            outline 1s;
        &:focus-within {
            outline-color: #807d7e;
        }
        @media (max-width: 890px) {
            outline: none;
        }
    }

    &__button {
        height: 44px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0 0 8px;
        background-color: #f6f6f6;
        transition: background-color 0.3s ease-in-out;
        & img {
            transition: background-color 0.3s ease-in-out;
        }
        @media (max-width: 890px) {
            border-radius: 8px;
        }
    }
    &__input {
        height: 44px;
        width: 100%;
        background-color: #f6f6f6;
        border-radius: 0 8px 8px 0;
        transition:
            background-color 0.3s ease-in-out,
            width 1s;
        &:focus-visible {
            outline: none;
        }
        @media (max-width: 890px) {
            width: 0%;
            position: absolute;
            right: 0;
            // display: none;
            // visibility: hidden;
            // opacity: 0;
        }
    }
    &__input::placeholder {
        color: #807d7e;
    }
}

.action {
    display: flex;
    column-gap: 12px;
    &__img-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid #f6f6f6;
        background-color: #f6f6f6;
        border-radius: 8px;
        transition:
            background-color 0.3s ease-in-out,
            border-color 0.3s ease-in-out;
        &:hover {
            background-color: #ececec;
            // border: 1px solid #cccbcb;
            border-color: #807d7e;
        }
    }

    &__img {
        // padding: 11px;
    }
}

// ----------------------------------------------

// .header {
//     &__container {
//         min-height: 108px;
//         display: flex;
//         align-items: center;
//         // justify-content: space-between;
//         background-color: #fff;
//     }

//     &__logo {
//         flex: 1 0 91px;
//         & img {
//         }
//     }

//     &__body {
//         flex: 1 1 auto;
//         justify-content: space-between;
//         display: flex;
//         // column-gap: calc(20px + 10%);
//         // column-gap: 2%;
//         align-items: center;
//     }

//     &__menu {
//         flex: 0 1 483px;
//     }

//     &__form {
//         flex: 0 1 295px;
//         // flex: 0 0 76px;
//     }

//     &__action {
//     }
// }
// .menu {
//     &_list {
//         display: flex;
//         justify-content: space-between;
//         // column-gap: 40px;
//         align-items: center;
//     }

//     &__item {
//     }

//     &__link {
//         color: #807d7e;
//         font-family: "Causten";
//         font-size: 22px;
//         font-weight: 500;
//         line-height: normal;
//         transition: color 0.3s;
//         &:hover {
//             color: #3c4242;
//         }
//     }
// }

// .form {
//     &:hover * {
//         outline-color: #807d7e;
//         background-color: #ececec;
//         color: #3c4242;
//     }

//     &__item {
//         height: 42px;
//         border-radius: 8px;
//         outline: 1px solid #f6f6f6;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         transition: outline-color 0.3s ease-in-out;
//         &:focus-within {
//             outline-color: #807d7e;
//         }
//     }

//     &__button {
//         height: 44px;
//         padding: 0 15px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 8px 0 0 8px;
//         background-color: #f6f6f6;
//         transition: background-color 0.3s ease-in-out;
//         & img {
//             transition: background-color 0.3s ease-in-out;
//         }
//     }
//     &__input {
//         // display: none;
//         height: 44px;
//         width: 100%;
//         background-color: #f6f6f6;
//         border-radius: 0 8px 8px 0;
//         transition: background-color 0.3s ease-in-out;
//         &:focus-visible {
//             outline: none;
//         }
//     }
//     &__input::placeholder {
//         color: #807d7e;
//     }
// }

// .action {
//     display: flex;
//     column-gap: 12px;
//     &__img-link {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 44px;
//         height: 44px;
//         border: 1px solid #f6f6f6;
//         background-color: #f6f6f6;
//         border-radius: 8px;
//         transition:
//             background-color 0.3s ease-in-out,
//             border-color 0.3s ease-in-out;
//         &:hover {
//             background-color: #ececec;
//             // border: 1px solid #cccbcb;
//             border-color: #807d7e;
//         }
//     }

//     &__img {
//         // padding: 11px;
//     }
// }
